<div class="wrapper">
    <div class="rightsidebar"></div>
    <div class="leftsidebar"></div>
    <div class="archivemain">
        <% site.posts.each(function(post){ %>
           <div class="archiveitem">
                <span class="archiveitemtitle"><a href="<%- url_for(post.path) %>"><%= post.title%></a></span> 
                <span class="archiveitemdate"><%- date(post.date, "YYYY-MM-DD") %></span>               
           </div>
        <% }) %>
    </div>
</div>