<!DOCTYPE html>
<html>
<head>
	<%- partial('_partial/head') %>
</head>
<body>
    <div class="sky-gradient">
        <div class="site_header">
            <%- partial('_partial/header') %>
        </div>
        <div class="site_content">
            <%- body %>
        </div>
        <div class="site_footer">
            <%- partial('_partial/footer') %>
        </div>
    </div>
</body>
</html>
