<!DOCTYPE html>
<html>
<head>
	<%- partial('_partial/head') %>
</head>
<body>
    <div id="site_header">
        <%- partial('_partial/header') %>
    </div>
    <div id="site_content">
        <%- body %>
    </div>
    <div id="site_footer">
        <%- partial('_partial/footer') %>
    </div>
</body>
</html>