<div class="wrapper">
    <div class="rightsidebar"></div>
    <div class="leftsidebar"></div>
    <div class="main">
        <% page.posts.each(function(post){ %>
            <article class="article">
                <header class="header">
                    <p style="float: left;"><a href="<%- url_for(post.path) %>"><%= post.title%></a></p>
                    <p style="float: right;"><%- date(post.date, 'YYYY-MM-DD') %></p>
                </header>
            </article>           
        <% }) %>
    </div>
    <% if(page.total > 1) { %> 
        <nav class="paginator">
            <%- paginator({prev_text:"&laquo;",next_text:"&raquo;"}) %>
        </nav>    
    <% } %>
</div>
