/* header setting */
.site_header {
  float: left;
  width: 100%;
  height: 30%
}

.header_container {
    float: left;
    padding-left: 50%;
    padding-top: 2%;
}

.header_nav > ul {
    float: left;
    list-style: none;
    display: inline;
}

.header_nav > ul > li {
    float: left;
    padding: 5px;
    font-family: cursive;
    font-size: large;
    text-align: center;
    cursor: pointer;
}

.header_nav > ul > li > a {
    color: white;
}

/* post list */
.site_content {
    float: left;
    width: 100%;
    height: 65%;
    overflow: scroll;
}

/* post footer */
.site_footer {
    float: left;
    width: 100%;
    height: 5%;
}

.copyright {
    text-align: center;
    text-transform: capitalize;
    font-family: cursive;
}

.copyright > p {
    margin: 0;
    padding: 0;
}
