.archivemain
  margin-left: 20%;
  margin-right: 20%;
.archiveitem
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5%;
  border-bottom: thin solid #808080;
  min-height: 30pt;
.archiveitem > .archiveitemtitle
  float: left;
  font-size: x-large;
.archiveitem > .archiveitemtitle > a
  color: black;
.archiveitem > .archiveitemdate
  float: right;
.archivepaginator
 margin-left: 20%;
 margin-right: 20%;
 padding-left: 5%;
 padding-right: 5%;
 padding-top: 2%;
 font-size: large;
 font-weight: bold;
 font-family: monospace;
