/* site_content css setting*/
#site_content
  width: auto;
  margin: 0;
  padding: 0;

.leftsidebar
  float: left;
  width: 20%;
  border: thin solid green;
  
.rightsidebar
  float: right;
  width: 20%;
  border: thin solid green;
  
.main
  margin-left: 20%;
  margin-right: 20%;
  border: thin solid blue;