body,h1,h2,h3,h4,h5,h6,p,ul,ol,hr{
    margin: 0;
    padding: 0;
}

a
 text-decoration: none

/* body */
#site_header
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  border: thin solid black;
  position: relative;
  background: black;

  
/* header */
.logo
  margin: 5pt;
  height: 60%;
  min-width: 300pt;
  border-bottom: thin solid white;
  
.logoimg
  margin-left: 10%;
  margin-right: 10%;
    
.motto
  float: right;
  padding-top: 30pt;
  color: white;
  font: normal x-large bold monospace;
  
.site_nav
  margin-left: 10%;
  margin-right: 10%;
  min-height: 50pt;
  
.site_nav ul
  list-style: none;
    
    
.site_nav_item
  float: left;
  margin: 15pt 5%;
  font: normal x-large bold monospace;
  
.site_nav_item a
  color: white;
  
.site_nav_item_home
  background: black;
  
.site_nav_item_home a:before
  content: url(/images/home.png);
  margin-right: 5pt;
.site_nav_item_archives a:before
  content: url(/images/archive.png)
  margin-right: 5pt;
.site_nav_item_tags a:before
  content: url(/images/tag.png)
  margin-right: 5pt;
.site_nav_item_categories a:before
  content: url(/images/category.png)
  margin-right: 5pt;
  
  
  
  
  
  
  
    
  