.pagemain
  margin-left: 20%;
  margin-right: 20%;
.pagetags
  padding-top: 10%;
.pagecategories
  padding-top: 10%;
.pagetags > a
  margin-left: 2%;
  margin-right: 2%;
.category-list
  list-style: none;
.category-list-item
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 20pt;
.category-list-link
  color: black;
.category-list-count
  color: green;
  font-weight: bold;
.category-list-count:before
  content: "("
.category-list-count:after
  content: ")"
