<div class="header_container">
    <div class="sun"></div>
    <nav class="header_nav">
        <% if(theme.menu) { %>
            <ul>
                <% for(var name in theme.menu) { %> 
                    <li class="header_nav_item">
                        <a href="<%- url_for(theme.menu[name])%>"><%= __('menu.'+name) %></a>
                    </li>
                <% } %>
            </ul>
        <% } %>
    </nav>
</div>
